SoundFile
librosa
h5py
numba
pyfftw
pyyaml
tqdm
tensorboardX
opencv-python
anyconfig
munch
scipy
sortedcontainers
shapely
pyclipper
gevent
gevent-websocket
flask
editdistance
scikit-image
imgaug
pandas
easydict
matplotlib
notebook
torch
torchvision
ipywidgets
onnx
onnxruntime
wandb
lmdb
pillow
nltk
natsort
torchsummary
fire
wandb
ipykernel